.popup__error {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: red;
    min-height: 15px;
    display:none;
    max-width: 358px;
}
.popup__error:hover {
    -webkit-animation: marquee 60s infinite linear;
    animation: marquee 10s infinite linear;
}
@-webkit-keyframes marquee {
    50%{-webkit-transform: translate(-65%, 0);}
    }
@keyframes marquee{
    50%{transform: translate(-65%, 0)}
    }