@import url('__close-icon/form__close-icon.css');
@import url('__heading/form__heading.css');
@import url('__item/form__item.css');
@import url('__button/form__button.css');
.form {
    display: flex;
    max-width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    padding: 34px 36px 36.51px;
    color: black;
}
@media only screen and (max-width: 500px) {
    .form {
        max-width: 200px;
        text-align: center;
   }
  } 