.header__logo {
    width: 142.01px;
    min-height: 33.4px;    
}

@media only screen and (max-width: 936px) {
    .header__logo {
      margin-left: calc((936px - 100vw)/2);
   }
  }
  @media only screen and (max-width: 882px) {
    .header__logo {
      margin-left: 27px;
   }
  }

@media only screen and (max-width: 500px) {
    .header__logo {
      width: 103.74px;
      min-height: 24.4px;
      margin: 28px auto 31.6px 27px;
   }
  }