.profile__add-batton {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    align-self: center;
    margin-left: auto;
    margin-right: 0;
    background-image: url('../../../images/addBatton.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.profile__add-batton:hover {
    background-image: url('../../../images/addBattonHover.svg');
    border: 2px solid rgba(255, 255, 255, 0.6);

}
@media only screen and (max-width: 909px) {
    .profile__add-batton {
        margin-right: calc((909px - 100vw)/2);
   }
  }

  @media only screen and (max-width: 882px) {
    .profile__add-batton {
        margin-right: 19px;
   }
  } 
@media only screen and (max-width: 700px) {
    .profile__add-batton {
        width: 282px;
        margin: 0 auto;
        
   }
  }
