.footer__copyright {
    color: #545454;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
}

 @media only screen and (max-width: 909px) {
    .footer__copyright {
      margin-left: calc((909px - 100vw)/2);
   }
  }
  @media only screen and (max-width: 882px) {
    .footer__copyright {
      margin-left: 19px;
   }
  }  
  @media only screen and (max-width: 500px) {
    .footer__copyright {
        font-size: 14px;
        margin: 0;
   }
  }