.edit-form__button {
    width: 358px;
    height: 50.15px;
    margin: 33px 0 0 0;
    background: #000000;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px; 
    text-align: center;
    border: none;
    transition: opacity .3s ease;
}
.edit-form__button:hover {
    opacity: 0.8;
}
@media only screen and (max-width: 500px) {
    .edit-form__button {
        max-width: 200px;
        margin: 36px 0 0 0;
        height: 40px;
        font-size: 14px;
        line-height: 17px;
   }
  } 