.grid__heart {
    width: 20.76px;
    height: 18.13px;
    margin: 32px 17.24px 29.87px auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    align-self: center;
    background-image: url('../../../images/heart.png');
    flex-shrink: 0;
    transition: opacity .2s ease;
}
.grid__heart:hover {
    opacity: 0.6;
}