.form__close-icon {
    position: absolute;
    top: -45px;
    right: -45px;
    background-image: url(../../../images/CloseIcon.svg);
    width: 58px;
    height: 58px;
    background-size: cover;
    cursor: pointer;
    margin: 0;
}
.form__close-icon:hover {
    background-image: url(../../../images/closeIconHover.svg);
}
@media only screen and (max-width: 500px) {
    .form__close-icon {
        width: 30px;
        height: 30px;
        top: -22px;
        right: -22px;
   }
  } 