.popup__close-icon {
    position: absolute;
    top: -45px;
    right: -45px;
    background-image: url(../../../images/closeicon.svg);
    width: 58px;
    height: 58px;
    background-size: cover;
    cursor: pointer;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    transition: opacity .3s ease;   
}
.popup__close-icon:hover {
    opacity: 0.6;
}
@media only screen and (max-width: 500px) {
    .popup__close-icon {
        width: 34px;
        height: 34px;
        top: -26px;
        right: -26px;
   }
  } 