.form__batton {
    display: flex;
    width: 358px;
    height: 50.15px;
    margin: 48px 0 0 0;
    background: #000000;
    border-radius: 2px;
    align-items: center;
    justify-content: center; 
}