.edit-form__item {
    display: flex;
    margin: 0;
    padding-top: 28.08px;
    margin-bottom: 15px;
    border-bottom: 1px solid #00000033;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    box-sizing: border-box;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}
/* edit-form__item:invalid {
    border: 1px solid red;
  }  */

@media only screen and (max-width: 500px) {
    .edit-form__item {
        padding-top: 29px;
        font-size: 12px;
   }
  } 