.grid__element {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 10px;   
    justify-self: center;
    overflow: hidden;
    position: relative;
}
