@import url('__element/grid__element.css');
@import url('__heart/grid__heart.css');
@import url('__grid-image/grid__grid-image.css');
@import url('__title/grid__title.css');
@import url('__menu/grid__menu.css');
@import url('__description/grid__description.css');
@import url('__heart/grid__heart_active.css');
@import url('__basket/grid__basket.css');

.grid {
   max-width: 882px;
   list-style: none;
   margin: 0 auto;
   padding: 0 19px;
}
@media only screen and (max-width: 901px) {
   .grid {
       padding: 0 50px;
  }
 }
 @media only screen and (max-width: 500px) {
   .grid {
       padding: 0 19px;
  }
 }
